@tailwind base;
@tailwind components;
@tailwind utilities;

.mix-gradient {
  mix-blend-mode: difference;
}
.text-color {
  background: linear-gradient(187.03deg, #ffffff 49.99%, #000000 94.51%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="radio"] {
  accent-color: black;
}
body {
  scroll-behavior: smooth;
}
